/* =============================================================================
   Icons
========================================================================== */

/* ==|== Icon =================
   Menu
====================================== */

.icon--menu {
    cursor:pointer;
    border-color:$color-red;
    border-style:solid;
    border-width:2px 0;
    display: block;
    height:16px;
    position: relative;
    @include transition(all .25s cubic-bezier(#{$bezier-nice}));
    width:24px;

    &:before {
        border-color:inherit;
        border-style:solid;
        border-width:2px 0 0;
        content:"";
        height:2px;
        left:0;
        margin-top: -1px;
        position: absolute;
        right:0;
        top:50%;
    }
    &:hover,
    &:focus{
        border-color:$color-blue;
    }
    &:active{
        border-color:$color-green;
    }

    @include respond-to(60) {
        position: absolute;
        top: 6.5em;
        right: 1.25em;
        
    }
}

.js--toggle-menu {
    
    
}
.js--toggle-menu--rotate{
    transform: rotate(90deg);
}
