.featured {
    h1{
        font-size:2em;
    }
    a {
        position: relative;
        display: inline-block;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.35em;
        overflow: hidden;
        -webkit-backface-visibility: hidden; 
    }
   -webkit-backface-visibility: hidden; 
}

.featured__collection {
    display: inline-block;
    position: relative;
    line-height: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden; 


    span {
        line-height: 0;
        -webkit-backface-visibility: hidden; 
        display: block;
        color: $color-white;
        position: absolute;
        bottom: 50%;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        transition: color 0.5s ease-out, text-shadow 0.5s ease-out;
        transition-delay: 0.75s;

        // span pesudo element effect
        &:hover{
            color: $color-red;
            text-shadow: 1px 1px 1px $color-white; 
        }
        &:active, &:focus {
            color:$color-blue;
        }

        &::before, &::after {
            width: 45px;
            height: 2px;
            opacity: 0;
            background: $color-white;
            content: '';
            opacity: 0;        
            position: absolute;
            transition: all 0.3s ease-in-out;

        }
        &::before {
            top: 0;
            left: 0;
            transform: rotate(90deg);
            transform-origin: 0 0;
        }
        &::after {
            right: 0;
            bottom: 0;
            transform: rotate(90deg);
            transform-origin: 100% 0;
        }

        &:hover::before,
        &:hover::after,
        &:focus::before,
        &:focus::after {
            opacity: 1;
        }

        &:hover::before,
        &:focus::before {
            left: 50%;
            transform: rotate(0deg) translateX(-50%) translateY(25px);
        }

        &:hover::after,
        &:focus::after {
            right: 50%;
            transform: rotate(0deg) translateX(50%) translateY(-25px);
        }
    }
    // image zoom effect
    img { 
        transition: all 1s ease;
    }
    &:hover img {
        transform:scale(1.5);
    }
}




