.featured {
    -webkit-backface-visibility: hidden; 

    h1{
        font-size:2em;
    }
    a {
        -webkit-backface-visibility: hidden;
        color: #fff;
        display: inline-block;
        font-size: 1.35em;
        outline: none;
        overflow: hidden;  
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
    }  
}

.featured__collection {
    -webkit-backface-visibility: hidden; 
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    position: relative;
    span {
        -webkit-backface-visibility: hidden; 
        bottom: 50%;
        color: $color-white;
        display: block;        
        font-weight: bold;
        font-size: 1em;
        left: 0;
        line-height: 0;
        position: absolute;
        right: 0;
        transition: color 0.5s ease-out, text-shadow 0.5s ease-out;
        transition-delay: 0.25s;
        text-align: center;

        // span pesudo element effect
        &:hover{
            color: $color-red;
            text-shadow: 2px 2px $color-white; 
        }
        &:active, &:focus {
            color:$color-blue;
        }

        &::before, &::after {
            background: $color-white;
            content: '';
            height: 2px;
            opacity: 0;        
            position: absolute;
            transition: all 0.3s ease-in-out;
            width: 45px;

        }
        &::before {
            transform: rotate(90deg);
            transform-origin: 0 0;
            left: 0;
            top: 0;  
        }
        &::after {
            bottom: 0;
            right: 0;
            transform: rotate(90deg);
            transform-origin: 100% 0;
        }

        &:hover::before,
        &:hover::after,
        &:focus::before,
        &:focus::after {
            opacity: 1;
        }

        &:hover::before,
        &:focus::before {
            left: 50%;
            transform: rotate(0deg) translateX(-50%) translateY(25px);
        }

        &:hover::after,
        &:focus::after {
            right: 50%;
            transform: rotate(0deg) translateX(50%) translateY(-25px);
        }
    }
    // image zoom effect
    img { 
        transition: all 1s ease;
    }
    &:hover img {
        transform:scale(1.5);
    }
}




