/* =============================================================================
   Footer
========================================================================== */
footer { margin: 1em 0 0 0; }
.colophon {
    color:$color-black;

    ul { padding:0; }

    @include respond-to(860) {
        .left,
        .right {
            float: none;
            text-align: center;
            width:100%;
        }
    }

    @include respond-to(600) {
        li {
            display: block;
            margin:0;
        }
    }
}