<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

<div class="sixteen columns page">
    {{ page.content }}
    <h1>GeoLocation Response:</h1>
    
    <p id="region-name"></p>
    <p id="areacode"></p>
    <p id="ip"></p>
    <p id="zipcode"></p>
    <p id="longitude"></p>
    <p id="latitude"></p>
    <p id="country-name"></p>
    <p id="country-code"></p>
    <p id="city"></p>
    <p id="region-code"></p>
    <a href="#" class="btn loc"><span>Get Location</span></a>
    
</div>