<div class="group sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

<div class="group sixteen columns page">
    {{ page.content }}
 
    <style type="text/css">
      body { font-family: sans-serif; }
      #map-canvas, #panel { height: 500px; }
      #panel { width: 300px; float: left; margin-right: 10px; }
      #panel .feature-filter label { width: 130px; }
      p.attribution, p.attribution a { color: #666; }
    </style>
  </head>
  <body>
    <h1>Places API</h1>
    <div id="panel"></div>
    <div id="map-canvas"></div>
  </body>
</div>