/* =============================================================================
   Colours
   ========================================================================== */

/* ==|== Colours =================
   Global
   ====================================== */

$color-boilerplate-black: #161616;
$color-boilerplate-red: #ae0000;
$color-boilerplate-white: #000; //#f5f5f1;
$color-boilerplate-grey: #525252;
$color-boilerplate-bg: #252525;


/* ==|== Colours =================
   Text
   ====================================== */



/* ==|== Colours =================
   Links
   ====================================== */

$color-link-primary: $color-boilerplate-red;
$color-link-primary-hover: $color-boilerplate-white;
$color-link-primary-active: $color-boilerplate-grey;

/* ==|== Colours =================
   Buttons
   ====================================== */

$color-button-primary: $color-boilerplate-red;
$color-button-primary-hover: lighten($color-boilerplate-red, 10%);
$color-button-primary-active: $color-boilerplate-grey;


/* =============================================================================
   Fonts
   ========================================================================== */

$stack-reg: "Helvetica Neue", sans-serif;

/* =============================================================================
   Column Widths
   ========================================================================== */

/* =============================================================================
   Bezier Curves
   ========================================================================== */

// Use these for more exciting animations/transitions.
//
// Usage:
//
// @include cubic-bezier(#{$bezier-bounce}, 500ms, all);

$bezier-bounce: 0.750, -0.170, 0.230, 1.190;
$bezier-ease: 0.880, 0.090, 0.180, 0.900;




